
<div class="container site-section mb-5">
  <div class="row justify-content-center text-center">
    <div class="col-7 text-center mb-5">
      <h2>How it works</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum
        voluptates sed!</p>
    </div>
  </div>
  <div class="how-it-works d-flex">
    <div class="step">
      <span class="number"><span>01</span></span>
      <span class="caption">Time &amp; Place</span>
    </div>
    <div class="step">
      <span class="number"><span>02</span></span>
      <span class="caption">Car</span>
    </div>
    <div class="step">
      <span class="number"><span>03</span></span>
      <span class="caption">Details</span>
    </div>
    <div class="step">
      <span class="number"><span>04</span></span>
      <span class="caption">Checkout</span>
    </div>
    <div class="step">
      <span class="number"><span>05</span></span>
      <span class="caption">Done</span>
    </div>

  </div>
</div>
