.container {
  margin-top: 40px;
}

.card-footer {
  text-align: center;
}

.btn {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  position: relative;
  font-size: 1.2em;
  width: 30%;
}

.btn::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: '';
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

.btn .btn-text {
  color: white;
  mix-blend-mode: difference;
}

.btn:hover::before {
  background: black;
  width: 100%;
}

.btn.rounded {
  border-radius: 50px;
}

.btn.rounded .text-green {
  color: #00f0b5;
  mix-blend-mode: difference;
}

.btn.rounded::before {
  border-radius: 50px;
  width: 15%;
  background: #000000;
}

.btn.rounded:hover::before {
  background: #00f0b5;
  width: 100%;
}

.btn.rounded:focus {
  border: none;
}

