<div class="container">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="card-title">Yeni Kullanıcı Ekle</h5></div>
      <div class="card-body">
        <form [formGroup]="userAddForm">
          <div class="mb-3 row">
            <label for="firstName" class="col-sm-2 col-form-label">İsim</label>
            <div class="col-sm-10">
              <input type="text" id="firstName" formControlName="firstName"
                     class="form-control" placeholder="İsim"/>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="lastName" class="col-sm-2 col-form-label">Soyisim</label>
            <div class="col-sm-10">
              <input type="text" id="lastName" formControlName="lastName"
                     class="form-control" placeholder="Soyisim"/>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" id="email" formControlName="email"
                     class="form-control" placeholder="Email"/>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Şifre</label>
            <div class="col-sm-10">
              <input type="password" id="password" formControlName="password"
                     class="form-control" placeholder="Şifre"/>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-primary" [disabled]="!userAddForm.valid"
                (click)="addUser()">Kullanıcıyı Ekle
        </button>
      </div>
    </div>
  </div>
</div>
