
<body>

<form action="index.html" class="login-form">
  <h4>Şifremi Unuttum</h4>

  <div class="txtb">
    <input type="email">
    <span data-placeholder="Email"></span>
  </div>

  <input type="submit" class="logbtn" value="Email Gönder">
  <div class="icons">
    <ul>
      <li> <a target="_blank" href="https://www.instagram.com/mmetdemirel/"><fa-icon [icon]="instagramIcon"  class="fa-4x"></fa-icon> </a></li>
      <li> <a target="_blank" href="https://github.com/ExorTek"><fa-icon [icon]="githubIcon" class="fa-4x"></fa-icon> </a></li>
    </ul>
  </div>
</form>
</body>
