*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif !important;
  min-height: 52em;
  background-image: linear-gradient(120deg,#3498db,#8e44ad);
}

.login-form{
  width: 360px;
  background: #f1f1f1;
  height: 500px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  margin-left: 50%;
  margin-top: 400px;
  transform: translate(-50%,-50%);
}

.login-form h4{
  text-align: center;
  margin-bottom: 60px;
}

.txtb{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after{
  content: '';
  margin-left: -280px;
  margin-top: 40px;
  position: absolute;
  height: 2px;
  background: linear-gradient(120deg,#3498db,#8e44ad);
  transition: .5s;
}

.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}

.logbtn{
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg,#3498db, #8e44ad,#3498db);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

.logbtn:hover{
  background-position: right;
}
ul{
  list-style:none;
  text-align: center;
}
ul li{
  display: inline-block;
}
fa-icon{
  display:block;
  float:left;
  list-style:none;
  height: 40px;
  margin:0.6em 10px 0 0;
  position:relative;
  background: -webkit-linear-gradient(120deg,#3498db, #8e44ad,#3498db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
fa-icon:hover {
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0) scale(1.1);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
    color: #ff0000;
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
    color: #00ff00;
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    color: #001dff;
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
    color: #ffffff;
  }
}






















