<div class="footer">
  <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer>
      <div class="row my-5 justify-content-center py-5">
        <div class="col-11">
          <div class="row ">
            <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
              <h3 class="text-muted mb-md-0 mb-5 bold-text">OTO KİRALAMA</h3>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-4 col-12">
              <ul class="snip1175">
                <li><a routerLink="/about" data-hover="HAKKIMIZDA" class="nav-link">HAKKIMIZDA</a></li>
                <li><a routerLink="/contact" data-hover="İLETİŞİM" class="nav-link">İLETİŞİM</a></li>
              </ul>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-4 col-12">
              <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADRES</b></h6>
              <p c>TÜRKİYE</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
              <p class="social text-muted mb-0 pb-0 bold-text">
              <span><a target="_blank" href="https://github.com/ExorTek"> <fa-icon [icon]="githubIcon"
                                                                                   class="fa-2x githubIcon icon"></fa-icon> </a></span>
                <span><a target="_blank" href="https://www.instagram.com/mmetdemirel/"> <fa-icon [icon]="instagramIcon"
                                                                                                 class="fa-2x instagramIcon icon"></fa-icon></a></span>
              </p>
              <small class="rights icon"><span>&#174;</span> Copyright 2021</small>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
              <h6 class="mt-55 mt-2 text-muted bold-text"><b>EMİRCAN DALMAN</b></h6><small>
              <span><fa-icon [icon]="mailIcon"></fa-icon> </span> emircandalman28</small>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
              <h6 class="text-muted bold-text"><b>MEHMET DEMİREL</b></h6><small>
              <span><fa-icon [icon]="mailIcon"></fa-icon> </span> exortek979</small>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

</div>
