<body>

<form [formGroup]="registerForm" class="login-form">
  <h2>Kayıt</h2>
  <div class="txtb">
    <input formControlName="firstName" type="text">
    <span data-placeholder="Adınız"></span>
  </div>
  <div class="txtb">
    <input formControlName="lastName" type="text">
    <span data-placeholder="Soyadınız"></span>
  </div>
  <div class="txtb">
    <input formControlName="email" type="email">
    <span data-placeholder="Email"></span>
  </div>

  <div class="txtb">
    <input formControlName="password" type="password">
    <span data-placeholder="Şifre"></span>
  </div>


  <input (click)="register()" type="submit" class="logbtn" value="Kayıt Ol">

  <div class="bottom-text"> Hesabın var mı? <a routerLink="/login">Giriş</a></div>

</form>
</body>
