<!--<div class="ftco-blocks">-->
<!--  <div class="ftco-cover-1">-->
<!--    <div class="container">-->
<!--      <div class="row align-items-center">-->
<!--        <div class="col-lg-5">-->
<!--          <div class="move">-->
<!--            <div class="feature-car-rent-box-1">-->
<!--              <h3 class="nissan">Nissan 350z</h3>-->
<!--              <ul class="list-unstyled">-->
<!--                <li>-->
<!--                  <span>Doors</span>-->
<!--                  <span class="spec">2</span>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <span>Seats</span>-->
<!--                  <span class="spec">6</span>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <span>Lugage</span>-->
<!--                  <span class="spec">2 Suitcase/2 Bags</span>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <span>Transmission</span>-->
<!--                  <span class="spec">Automatic</span>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <span>Minium age</span>-->
<!--                  <span class="spec">Automatic</span>-->
<!--                </li>-->
<!--              </ul>-->
<!--              <div class="d-flex align-items-center p-3">-->
<!--                <span>$200/day</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="content"></div>
<!--<app-how-we-work></app-how-we-work>-->


























