
<div class="container">
  <div class="form-group mt-5">
    <input class="form-control" type="text" id="carName" placeholder="Aranacak Kelime" [(ngModel)]="filterText">
    <div *ngIf="filterText!=''" class="mt-2">Aranan Kelime: <strong>{{filterText}}</strong></div>
  </div>
  <div class="row">
    <div *ngFor="let car of cars | carFilter:filterText" class="col-md-6 mt-50">
      <div class="card-body">
        <img src="{{car.imageUrl}}" class="img-fluid card-img lazyloaded" >
        <p class="card-text">{{car.Description}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-md btn-outline-success">Kirala</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

