body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.popup-container {
  display: inline-flex;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.popup-container .button {
  height: 45px;
  width: 100%;
  line-height: 40px;
  border: 2px solid #000000;
  padding: 0 15px;
  border-radius: 15px;
  font-size: 14px;
  color: black;
  cursor: pointer;
}
.popup-container .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 400ms all;
}
.popup-container .popup > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.popup-container .popup .inner {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  min-width: 700px;
  box-sizing: border-box;
  transition: 400ms all;
  z-index: 10;
  height: 400px;
  overflow: auto;
}
.popup-container .popup .inner .title {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: sticky;
  top: 0;
  background: #fff;
}
.popup-container .popup .inner .title h6 {
  font-size: 15px;
  font-weight: 500;
}
.popup-container .popup .inner .title label {
  font-size: 14px;
  color: #999;
  cursor: pointer;
}
.popup-container .popup .inner .title label:hover {
  color: #222;
}
.popup-container .popup .inner .content {
  padding: 5px 15px 15px;
}
.popup-container .popup .inner ul {
  list-style-type: none;
}
.popup-container .popup .inner .content ul li {
  margin-bottom: 15px;
}
.popup-container .popup .inner .content ul li:last-child {
  margin-bottom: 0;
}
.popup-container .popup .inner .content ul li input {
  margin-top: 20px;
  width: 55%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-size: 1.1em;
}
.popup-container .popup .inner .content ul li:nth-child(1) input {
  margin-top: 50px;
}
.popup-container .popup .inner .content ul li input:focus {
  outline: 6px;
  border-color: blue;
}
.popup-container .popup .inner .content ul li button {
  width: 35%;
  height: 40px;
  background: white;
  color: black;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 15px;
}
.popup-container .popup .inner .content p {
  font-size: 13px;
  line-height: 130%;
  margin-bottom: 15px;
}
.popup-container .popup .inner .content p:last-child {
  margin-bottom: 0;
}
.popup-container .popup .inner .content .close-btn {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}
.popup-container .popup .inner .content .close-btn label {
  background: rgba(0, 0, 0, .05);
  display: block;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  color: #444;
  border-radius: 3px;
  cursor: pointer;
}
.popup-container .popup .inner .content .close-btn label:hover {
  background: rgba(0, 0, 0, .1);
}
.popup-container > input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
.popup-container > input:checked + .popup {
  opacity: 1;
  visibility: visible;
}
.popup-container > input:checked + .popup .inner {
  top: 50%;
}
.draw-border {
  box-shadow: inset 0 0 0 1px blue;
  color: blue;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  width: 100%;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.draw-border::after {
  border-top-width: 1px;
  border-right-width: 1px;
}
.draw-border:hover {
  color: black;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #00FF18;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.btn:focus {
  outline: 1px dotted #55d7dc;
}

