* {
  font-family: 'Montserrat', sans-serif !important;
}

.header{
  background-color: rgb(0, 0, 0);
  margin-bottom: 30px;
}
.navbar-expand-lg {
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.containerUser {
  width:60%;
}
.logo img {
  width: 220px;
  height: 90px;
  padding-top: 28px;
}

.menuUser ul li a {
  font-size: 0.9em;
  margin-left: 0.8em;
}
.menuUser {
  text-align: center;
  text-transform: uppercase;
}
.menuUser * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menuUser ul {
  padding-left: 30%;
}
.menuUser li {
  display: inline-block;
  list-style: outside none none;
  overflow: hidden;
}
.menuUser a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.menuUser a:before,
.menuUser a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.menuUser a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #8E44AD;
}
.menuUser a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}

.menuUser li:hover a,
.menuUser .current a {
  transform: translateY(100%);
}

.icons{
  height: 95px;
  text-align: center;
  margin-left: 40px;
  margin-right: 30px;
}

.icons ul {
  list-style: none;
  padding-left: 0;
}
.dropdownButton{
  background-color: black;
  margin-top: 32px;
  border: none;
  font-size: 1em;
  color: #ebebeb;
  opacity: 0.7;
}
.dropdownButton:hover{
  opacity:1;
}
.dropdownHeader ul{
  background-color: white;
  text-align: center;
  width: 100%;
}
.dropdownHeader ul li{
  color: black;
  border-top: 3px solid black;
}
.dropdownHeader ul li a{
  padding-top: 15px;
  padding-bottom: 15px;
}
.dropdownHeader ul li:nth-child(1) a:hover{
  background-color: #9F0DFD;
}

.dropdownHeader ul li:nth-child(2) a:hover{
  background-color: #FD0D82;
}
.socialUser{
  width: 200px;
  height: 90px;
}
.socialUser ul{
  list-style-type: none;
}
.login{
  margin-top: 3px;
}
.userIcon{
  color: #ebebeb;
}
.instagramIcon{
  color: #ebebeb;
}
.githubIcon{
  color: #ebebeb;
  padding-right: 25px;
}
.linkedinIcon{
  color: #ebebeb;
  padding-right: 25px;
}
fa-icon{
  position:relative;
  float: right;
  padding-top: 14px;
  color: black;
}
fa-icon:hover{
  color: blue;
  animation: mouse-pointer 1s cubic-bezier(.36,.07,.57,.99) infinite;
}
html {
  box-sizing: border-box;
}
@keyframes mouse-pointer {
  0% {
    transform: scale(1.5);
  }
  20% {
    transform: scale(1.5);
  }
  22.5% {
    transform: scale(1.2);
  }
  32.5% {
    transform: scale(1.2);
  }
  35% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.5);
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

header, footer, nav, section, article, hgroup, figure {
  display: block;
}

.headerContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.headerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.headerContainer {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1200px;
}


.hero {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}


.hero:after {
  content: '';
  background: rgba(0, 0, 64, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

}
.hero * {
  position: relative;
  z-index: 1;
}

#masthead {
  padding: 2.5em 0;
  position: relative;
}

#masthead.is-active {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

#masthead:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#masthead.is-active:after {
  opacity: 1;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  float: left;
  font: inherit;
  margin: 0.8125em 0 0;
  overflow: visible;
  outline: none;
  padding: 0;
  text-transform: none;
  transition: opacity 0.15s;
  -webkit-appearance: none;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

#masthead.is-active .hamburger-inner,
#masthead.is-active .hamburger-inner::before,
#masthead.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -6px;
}

.hamburger-inner::after {
  bottom: -6px;
}


.hamburger--boring .hamburger-inner,
.hamburger--boring .hamburger-inner::before,
.hamburger--boring .hamburger-inner::after {
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.hamburger-label {
  color: #fff;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1;
  margin-left: 0.3125em;
  text-transform: uppercase;
}

#masthead.is-active .hamburger-label {
  color: #000;
}

.hamburger-box,
.hamburger-label {
  display: inline-block;
  vertical-align: middle;
}

#site-nav {
  clear: both;
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  padding-top: 2.5em;
}

#site-nav.is-active {
  height: auto;
  overflow: visible;
}

#site-nav .col {
  padding-bottom: 2.5em;
}

@media screen and (min-width: 550px) {
  #site-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #site-nav .col {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 768px) {
  #site-nav .col {
    flex: 0 0 33.333333333%;
  }
}

@media screen and (min-width: 960px) {
  #site-nav {
    flex-wrap: nowrap;
  }

  #site-nav .col {
    flex: 0 0 20%;
  }

  #site-nav .col:last-child {
    display: flex;
    justify-content: flex-end;
  }
}

#site-nav h4 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#site-nav ul {
  list-style-type: none;
  margin-top: 1em;
}

#site-nav li {
  margin-bottom: 0.3125em;
}

#site-nav li a {
  color: #b4b9ba;
  text-decoration: none;
  transition: color 0.3s ease;
}

#site-nav li a:hover,
#site-nav li a:focus {
  color: #686d6e;
}

#site-nav .social {
  margin: 0;
  overflow: hidden;
}

#site-nav .social li {
  float: left;
  margin: 0 0.3125em;
  width: 32px;
  height: 32px;
}

#masthead.is-active ::-webkit-input-placeholder {
  color:    #b4b9ba;
}

#masthead.is-active :-moz-placeholder {
  color:    #b4b9ba;
  opacity:  1;
}

#masthead.is-active ::-moz-placeholder {
  color:    #b4b9ba;
  opacity:  1;
}

#masthead.is-active :-ms-input-placeholder {
  color: #b4b9ba
}

#masthead .col {
  opacity: 0;
}

#masthead.is-active .col {
  transform: translateY(40px);
  transition: opacity 0.3s ease;
  animation: fade-in-stagger 0.8s ease forwards;
}

#masthead.is-active .col:nth-child(1) {
  -webkit-animation-delay: 0;
}

#masthead.is-active .col:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

#masthead.is-active .col:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

#masthead.is-active .col:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

#masthead.is-active .col:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

@keyframes fade-in-stagger {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
