<div *ngIf="checkUserRoles()" class="hero">
  <header id="masthead" role="banner">
    <div class="headerContainer">
      <button class="hamburger hamburger--boring" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        <span class="hamburger-label">Yetkili İşlemleri</span>
      </button>
      <nav id="site-nav" role="navigation">
        <div class="col">
          <h4>Araba İşlemleri</h4>
          <ul>
            <li><a routerLink="authorized/cars/add">Araç Ekleme</a></li>
            <li><a routerLink="authorized/cars">Araç Güncelleme</a></li>
            <li><a routerLink="authorized/cars">Araç Silme</a></li>
            <li><a routerLink="authorized/cars">Araç Resmi Düzenleme</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>Renk İşlemleri</h4>
          <ul>
            <li><a routerLink="authorized/colors/add">Renk Ekleme</a></li>
            <li><a routerLink="authorized/colors">Renk Güncelleme</a></li>
            <li><a routerLink="authorized/colors">Renk Silme</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>Marka İşlemleri</h4>
          <ul>
            <li><a routerLink="authorized/brands/add">Marka Ekleme</a></li>
            <li><a routerLink="authorized/brands">Marka Güncelleme</a></li>
            <li><a routerLink="authorized/brands">Marka Silme</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>Kullanıcı İşlemleri</h4>
          <ul>
            <li><a routerLink="authorized/users/add">Kullanıcı Ekleme</a></li>
            <li><a routerLink="authorized/users">Kullanıcı Güncelleme</a></li>
            <li><a routerLink="authorized/users">Kullanıcı Silme</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="social">
            <li><a href="https://github.com/Kontorta16">
              <fa-icon [icon]="githubIcon" class="fa-2x"></fa-icon>
            </a></li>
            <li><a href="https://www.instagram.com/emircan.dalmn/">
              <fa-icon [icon]="instagramIcon" class="fa-2x"></fa-icon>
            </a></li>
            <li><a href="https://www.linkedin.com/in/kontorta/">
              <fa-icon class="fa-2x" [icon]="linkedinIcon"></fa-icon>
            </a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</div>
<div class="header">
  <div class="navbar navbar-expand-lg">
    <div class="logo">
      <a href="/"> <img src="assets/images/logo.svg"> </a>
    </div>
    <div class="containerUser">
      <div class="menuUser">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li><a routerLink="/" data-hover="ANASAYFA" class="nav-link">ANASAYFA</a></li>
          <li><a routerLink="/brands" data-hover="MARKALAR" class="nav-link">MARKALAR</a></li>
        </ul>
      </div>
    </div>
    <div class="icons">
      <div *ngIf="!checkUserLogin()" class="login">
        <a routerLink="/login">
          <fa-icon [icon]="userIcon" class="fa-2x userIcon"></fa-icon>
        </a>
      </div>
      <div *ngIf="checkUserLogin()" class="dropdown dropdownHeader">
        <button class="dropdownButton dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
          {{fullName}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="profile">Düzenle</a></li>
          <li><a class="dropdown-item" (click)="clearAllStorage()" routerLink="/">Çıkış Yap</a></li>
        </ul>
      </div>
    </div>
    <div class="socialUser">
      <ul>
        <li><a target="_blank" href="https://www.instagram.com/emircan.dalmn/">
          <fa-icon [icon]="instagramIcon" class="fa-2x instagramIcon"></fa-icon>
        </a></li>
        <li><a target="_blank" href="https://github.com/Kontorta16">
          <fa-icon [icon]="githubIcon" class="fa-2x githubIcon"></fa-icon>
        </a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/kontorta/">
          <fa-icon class="fa-2x linkedinIcon" [icon]="linkedinIcon"></fa-icon>
        </a></li>
      </ul>
    </div>
  </div>

</div>

<!--<svg xmlns="http://www.w3.org/2000/svg" style="display:none;">-->
<!--  <defs>-->
<!--    <symbol viewBox="0 0 60 60" id="icon-facebook">-->
<!--      <path d="M25.8 46.3h6.7V30H37l.6-5.6h-5.1v-2.8c0-1.5.1-2.3 2.2-2.3h2.8v-5.6H33c-5.4 0-7.3 2.7-7.3 7.3v3.4h-3.4V30h3.4v16.3zM30 60C13.4 60 0 46.6 0 30S13.4 0 30 0s30 13.4 30 30-13.4 30-30 30z"/>-->
<!--    </symbol>-->
<!--    <symbol viewBox="0 0 60 60" id="icon-linkedin">-->
<!--      <path d="M46.8 44.1V32.4c0-6.3-3.3-9.2-7.8-9.2-3.6 0-5.2 2-6.1 3.4v-2.9h-6.8c.1 1.9 0 20.4 0 20.4h6.8V32.7c0-.6 0-1.2.2-1.7.5-1.2 1.6-2.5 3.5-2.5 2.5 0 3.4 1.9 3.4 4.6V44l6.8.1zM19 20.9c2.4 0 3.8-1.6 3.8-3.5 0-2-1.5-3.5-3.8-3.5s-3.8 1.5-3.8 3.5 1.4 3.5 3.8 3.5zM30 60C13.4 60 0 46.6 0 30S13.4 0 30 0s30 13.4 30 30-13.4 30-30 30zm-7.6-15.9V23.7h-6.8v20.4h6.8z"/>-->
<!--    </symbol>-->
<!--    <symbol viewBox="0 0 60 60" id="icon-twitter">-->
<!--      <path d="M34.2 18.3c-2.6 1-4.3 3.4-4.1 6.1l.1 1-1-.1c-3.8-.5-7.1-2.1-10-4.9L17.7 19l-.4 1c-.8 2.3-.3 4.7 1.3 6.3.8.9.6 1-.8.5-.5-.2-.9-.3-1-.2-.1.1.4 2.1.8 2.8.5 1.1 1.7 2.1 2.9 2.7l1 .5h-1.2c-1.2 0-1.2 0-1.1.5.4 1.4 2.1 2.8 3.9 3.5l1.3.4-1.1.7c-1.7 1-3.6 1.5-5.6 1.6-.9 0-1.7.1-1.7.2 0 .2 2.6 1.4 4 1.9 4.5 1.4 9.8.8 13.7-1.6 2.8-1.7 5.7-5 7-8.2.7-1.7 1.4-4.9 1.4-6.4 0-1 .1-1.1 1.2-2.3.7-.7 1.3-1.4 1.5-1.6.2-.4.2-.4-.9 0-1.8.6-2 .6-1.2-.4.6-.7 1.4-1.9 1.4-2.3 0-.1-.3 0-.7.2-.4.2-1.2.5-1.8.7l-1.1.4-1-.7c-.6-.4-1.4-.8-1.8-.9-.9-.4-2.6-.4-3.5 0zM30 60C13.4 60 0 46.6 0 30S13.4 0 30 0s30 13.4 30 30-13.4 30-30 30z"/>-->
<!--    </symbol>-->
<!--  </defs>-->
<!--</svg>-->

<!--<div class="hero2">-->
<!--  <header id="masthead2" role="banner">-->
<!--    <div class="headerContainer2">-->
<!--      <button class="hamburger2 hamburger&#45;&#45;boring2" type="button">-->
<!--          <span class="hamburger-box2">-->
<!--            <span class="hamburger-inner2"></span>-->
<!--          </span>-->
<!--        <span class="hamburger-label2">Menu</span>-->
<!--      </button>-->
<!--      <nav id="site-nav2" role="navigation">-->
<!--        <div class="col">-->
<!--          <h4>Expertise</h4>-->
<!--          <ul>-->
<!--            <li><a href="#">Insurance Industry</a></li>-->
<!--            <li><a href="#">Retail Industry</a></li>-->
<!--            <li><a href="#">Logistics Industry</a></li>-->
<!--            <li><a href="#">Blog</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <h4>Results</h4>-->
<!--          <ul>-->
<!--            <li><a href="#">Case Studies</a></li>-->
<!--            <li><a href="#">Client Partners</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <h4>Company</h4>-->
<!--          <ul>-->
<!--            <li><a href="#">Our Story</a></li>-->
<!--            <li><a href="#">Our Team</a></li>-->
<!--            <li><a href="#">Our Culture</a></li>-->
<!--            <li><a href="#">News</a></li>-->
<!--            <li><a href="#">Join Us</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <h4>Approach</h4>-->
<!--          <ul>-->
<!--            <li><a href="#">Digital Transformation</a></li>-->
<!--            <li><a href="#">Digital Readiness Tool</a></li>-->
<!--            <li><a href="#">Solution Partners</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <ul class="social">-->
<!--            <li><a href="https://github.com/Kontorta16">-->
<!--              <fa-icon [icon]="githubIcon" class="fa-2x"></fa-icon> </a></li>-->
<!--            <li><a href="https://www.instagram.com/emircan.dalmn/">-->
<!--              <fa-icon [icon]="instagramIcon" class="fa-2x"></fa-icon> </a></li>-->
<!--            <li><a href="https://www.linkedin.com/in/kontorta/">-->
<!--              <fa-icon class="fa-2x" [icon]="linkedinIcon"></fa-icon></a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </header>-->
<!--</div>-->
