<div *ngIf="dataLoaded && customers.length <= 0" class="alert alert-info" role="alert">
  Maalesef Şuanda Araç Bulunamadı.
</div>
<div *ngIf="dataLoaded && customers.length >0" style="margin-top: 40px;" class="row">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Adı</th>
      <th scope="col">Soyadı</th>
      <th scope="col">Email</th>
      <th scope="col">Şirket Adı</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.companyName}}</td>
      <td style="width:30px;">
        <button (click)="goEdit(customer)"
                class="btn btn-outline-primary edit">DÜZENLE
        </button>
      </td>
      <td style="width:30px;">
        <button class="btn btn-outline-danger remove" (click)="setSelectedCustomer(customer)"
                data-bs-toggle="modal" data-bs-target="#exampleModal">SİL
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <b class="modal-title" id="exampleModalLabel">Araç Silme</b>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">Silmek İstediğinize Emin Misiniz?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Vazgeç
        </button>
        <button type="button" class="btn btn-primary"
                data-bs-dismiss="modal" (click)="removeCustomer()">Sil
        </button>
      </div>
    </div>
  </div>
</div>
