form{
  text-align: center;
}
.alert-info{
  border-radius: 5px;
}
.custom-file-input{
  cursor: pointer;
  border: 1px solid black;
  border-radius: 7px;
  width: 27%;
  height: 39px;
  font-size: 1.1em;
  padding-top: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.custom-file-input:hover{
  border-color: green;
}
.btn{
  width: 27%;
  background-color: white;
  border: 1px solid black;
  font-size: 1.1em;
  height: 55px;
  text-align: center;
  border-radius: 7px;
  color: black;
}

.btn:hover{
  border-color: green;
}
