<ngb-carousel>
  <ng-template ngbSlide *ngFor="let car of carDetails">
    <div class="picsum-img-wrapper" style="max-width: 80%;">
      <img class="d-block w-100" style="width: 900px; padding-left: 20%; height: 700px;"
           src="{{apiUrl}}{{car.imagePath}}">
    </div>
  </ng-template>
</ngb-carousel>
<div class="contact-area">
  <div class="contact">
    <main>
      <section>
        <div class="content">
          <button>
            <span>Detayları Göster</span>
          </button>
        </div>
        <div class="title"><p>{{brandName}}</p></div>
      </section>
    </main>
    <nav>
      <a class="modelYear">
        <div class="content">
          <span>Model Yılı: {{modelYear}}</span>
        </div>
      </a>

      <a class="dailyPrice">
        <div class="content">
          <span>Günlük Fiyat: {{price}}<fa-icon [icon]="faLira"></fa-icon></span>
        </div>
      </a>
      <a class="description">
        <div class="content">
          <span>{{description}}</span>
        </div>
      </a>
      <div>
      </div>
      <nav >
        <ul *ngFor="let car of carDetails; let i = index">
          <li *ngIf="i<1" (click)="addCart(car)">Hemen Şimdi Kirala
            <span></span><span></span><span></span><span></span>
          </li>
        </ul>
      </nav>
    </nav>
  </div>
</div>


