<ngb-carousel>
  <ng-template ngbSlide *ngFor="let car of carDetails">
    <div class="picsum-img-wrapper" style="max-width: 80%;">
      <img class="d-block w-100" style="width: 900px; padding-left: 20%; height: 700px;" src="{{apiUrl}}{{car.imagePath}}">
    </div>
  </ng-template>
</ngb-carousel>

<br>
<Form [formGroup]="userFindeksForm">
  <div class="mb-3">
    <div class="form-group">
      <label>Tc Kimlik Numaranız</label>
      <input type="text" formControlName="tcNo">
    </div>
  </div>
  <div class="mb-3">
    <div class="form-group">
      <label>Doğum Yılınız</label>
      <input type="text" formControlName="dateYear">
    </div>
  </div>
  <button (click)="getUserFindeks()">Puanımı Hesapla</button>
</Form>

<div class="card" *ngFor="let car of carDetails; let i = index">
  <div class="card-body" *ngIf="i<1">
    <h5 class="card-title" style="text-align: center">{{car.brandName}}</h5>
    <hr>
    <p class="card-text"><b>Marka:</b> {{car.brandName}}</p>
    <p class="card-text"><b>Model Yılı:</b> {{car.modelYear}}</p>
    <p class="card-text"><b>Açıklama:</b> {{car.description}}</p>
    <p class="card-text"><b>Renk:</b>{{car.colorName}}</p>
    <p class="card-text"><b>Fiyat:</b> {{car.dailyPrice}}
      <fa-icon [icon]="faLira"></fa-icon>
    </p>
    <button  (click)="addCart(car)" class="btn btn-primary">Kirala</button>
  </div>
</div>
