<body>
<form [formGroup]="loginForm" class="login-form">
  <h2>Giriş</h2>
  <div class="txtb">
    <input formControlName="email" type="email">
    <span data-placeholder="E-Mail"></span>
  </div>
  <div class="txtb">
    <input formControlName="password" type="password">
    <span data-placeholder="Şifre"></span>
  </div>
  <input (click)="login()" type="submit" class="logbtn" value="Giriş">
  <div class="bottom-text"> Hesabın mı yok? <a routerLink="/register">Kayıt Ol</a></div>
  <div class="changePassword"> Şifreni mi unuttun? <a routerLink="/changepassword">Değiştir</a></div>
</form>
</body>
