<body>

<form action="index.html" class="login-form">
  <h2>Giriş</h2>

  <div class="txtb">
    <input type="text">
    <span data-placeholder="Kullanıcı Adı"></span>
  </div>
  <div class="txtb">
    <input type="password">
    <span data-placeholder="Şifre"></span>
  </div>
  <input type="submit" class="logbtn" value="Giriş">
  <div class="bottom-text"> Hesabın mı yok? <a routerLink="/register">Kayıt Ol</a> </div>
  <div class="changePassword"> Şifreni mi unuttun? <a routerLink="/changepassword">Değiştir</a> </div>
</form>
</body>
