<div *ngIf="dataLoaded && cars.length <= 0" class="alert alert-info" role="alert">
  Maalesef Şuanda Araç Bulunamadı.
</div>
<div *ngIf="dataLoaded && cars.length >0" style="margin-top: 40px;" class="row">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Marka</th>
      <th scope="col">Renk</th>
      <th scope="col">Model Yılı</th>
      <th scope="col">Günlük Fiyatı</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars">
      <td>{{car.brandName}}</td>
      <td>{{car.colorName}}</td>
      <td>{{car.modelYear}}</td>
      <td>{{car.dailyPrice}}</td>
      <td style="width:30px;">
        <button routerLink="/authorized/cars/update/{{car.id}}"
                class="btn btn-outline-primary edit">DÜZENLE
        </button>
      </td>
      <td style="width:30px;">
        <button class="btn btn-outline-danger remove" (click)="setSelectedCar(car)"
                data-bs-toggle="modal" data-bs-target="#exampleModal">SİL
        </button>
      </td>
      <td style="width:150px;">
        <button routerLink="/authorized/cars/image/add/{{car.id}}"
                class="btn btn-outline-primary edit">RESİM EKLE
        </button>
      </td>
      <td style="width:140px;">
        <button class="btn btn-outline-danger remove"
                routerLink="/authorized/cars/image/delete/{{car.id}}">RESİM SİL
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <b class="modal-title" id="exampleModalLabel">Araç Silme</b>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Silmek İstediğinize Emin Misiniz?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Vazgeç</button>
        <button type="button" class="btn btn-primary"
                data-bs-dismiss="modal" (click)="removeCar()">Sil</button>
      </div>
    </div>
  </div>
</div>
