<!--<div *ngIf="dataLoaded==true && brands.length <= 0" class="alert alert-danger alert-dismissible" role="alert" id="myAlert">-->
<!--  <button type="button" class="close">&times;</button>-->
<!--  <strong>Başarısız</strong> Şuanda Marka Bulunamadı-->
<!--</div>-->

<!--<div *ngIf="error === 'HttpErrorResponse'" class="alert alert-danger alert-dismissible" role="alert">-->
<!--  <strong>OOOPS!</strong> Bağlantı Hatası!-->
<!--</div>-->

<!--  <table class="table" style="text-align: center">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col">Marka Adı</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let brand of brands">-->
<!--      <td>{{brand.brandName}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<div class="content" style="margin-top: 2em;">
  <ul class="snip1155">
    <li ><a routerLink="cars/">Tüm Araçlar</a><hr></li>
    <li *ngFor="let brand of brands"><a routerLink="cars/brand/{{brand.brandId}}">
                      {{brand.brandName}}</a><hr></li>
  </ul>
</div>

<!--<div *ngIf="dataLoaded==false || brands.length <= 0 ">-->
<!--  <app-loading></app-loading>-->
<!--</div>-->
